@import url('https://fonts.googleapis.com/css2?family=Allison&family=El+Messiri:wght@500&family=Merriweather&family=Montserrat:wght@400;500;700;900&family=Oswald&family=Poppins&family=Roboto&family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans&family=Montserrat:wght@600;800&family=Open+Sans&family=Pacifico&family=Roboto:ital@0;1&family=Work+Sans:wght@300;400&display=swap');
@import 'reset.scss';

$color__one: #fff;
$color__two: #efc55a;
$color__three: #e7d6ab;
$color__four: rgb(28, 109, 214);
$color__five: rgb(55, 108, 174);
$color__six: #241400;
$color__seven: #926903;

body {
    width: 1600px;
    height: 3000px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;

}

.main {
    width: 1600px;
    background-color: #fcefde;
    padding-top: 10px;

    header {
        margin-bottom: 170px;

        .header__line {
            width: 1470px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            .header__line__logo {
                width: 480px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .image__logo {
                    width: 220px;
                }

                .header__line__title {
                    font-family: 'Pacifico', cursive;
                    font-size: 26px;
                    color: $color__six;
                }
            }

            .header__line__basic {
                width: 180px;
                display: flex;
                justify-content: space-between;
                margin: 10px 0 0 0;
                color: $color__seven;
                font-size: 12px;
                font-weight: 500;
                .shop {
                    cursor: pointer;
                    .shop__image {
                        width: 32px;
                        margin: 0 0 3px 12px;
                    }
                    .shop__title {
                        width: 45px;
                        text-align: center;
                    }
                }
                
                .basket {
                    cursor: pointer;
                    .image__basket {
                        width: 35px;
                        margin-left: 3px;
                    }
                }

                .registration {
                    cursor: pointer;
                    margin:  0 6px 0 -8px;
                    .registration__img {
                        width: 35px;
                        margin-left: 3px;
                    }
                }
                .authorization__done {
                    display: none;
                    cursor: pointer;
                    margin-left: -8px;
                    .welcome__img {
                        width: 35px;
                        margin-left: 3px;
                    }
                    .welcome {
                        width: 45px;
                        text-align: center;
                    }
                }
                
            }
        }

        .header__main {
            width: 1340px;
            height: 420px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 88px auto 0;

            .header__main__description {
                margin: 0 0 0 40px;
                height: 600px;

                .image__title {
                    width: 470px;
                    margin-top: 30px;
                }

                .subtitle {
                    margin: -70px 0 0 20px;
                    width: 480px;
                    font-size: 20px;
                    line-height: 26px;
                    color: $color__seven;
                    font-weight: 400;
                }

            }

            .header__main__image {
                width: 450px;
                height: 450px;
                overflow: hidden;
                margin-right: 100px;

                .carusel {
                    display: flex;
                    width: 450px;

                    input {
                        display: none;
                    }

                    .img__slide {
                        transition: 1.4s;

                        .img__carusel {
                            width: 450px;
                            height: 450px;
                        }
                    }

                    .navigation {
                        position: absolute;
                        width: 800px;
                        display: flex;
                        justify-content: center;
                        margin-top: 480px;
                        margin-left: -170px;
                        display: none;
                    }

                    .navigation_btn {
                        border: 3px solid $color__five;
                        border-radius: 10px;
                        padding: 7px;
                        margin: 5px;

                        cursor: pointer;
                    }

                    .navigation_btn:hover {
                        background: $color__five;
                        transform: scale(1.4);
                        transition: 0.3s;
                    }

                    #radio1:checked~.first {
                        margin-left: 0;
                    }

                    #radio2:checked~.first {
                        margin-left: -100%;
                    }

                    #radio3:checked~.first {
                        margin-left: -200%;
                    }

                    #radio4:checked~.first {
                        margin-left: -300%;
                    }

                    #radio5:checked~.first {
                        margin-left: -400%;
                    }
                }
            }
        }
        .modal__window {
            position: absolute;
            width: 300px;
            height: 120px;
            background-color: $color__one;
            border-radius: 5px;
            box-shadow: 5px 5px 20px 0px rgb(211, 193, 163);
            top: 50px;
            left: 1400px;
            
            .question__about__logout {
                padding: 20px;
                text-align: center;
            }
            .button__wrap {
                width: 120px;
                margin: 0 auto;
                .btn__logout {
                    cursor: pointer;
                    width: 50px;
                    height: 30px;
                    background-color: $color__two;
                    border-radius: 5px;
                    margin-right: 5px;
                }
                .btn__logout:hover {
                    background-color: $color__three;
                }
                .btn__cansel {
                    cursor: pointer;
                    width: 50px;
                    height: 30px;
                    background-color: $color__two;
                    border-radius: 5px;
                    margin-left: 5px;
                }
                .btn__cansel:hover {
                    background-color: $color__three;
                }
            }
            
        }
        .modal__window__none{
            display: none;
        }
    }

    main {
        .pokemons {
            width: 1432px;

            .pokemons__title {
                color: $color__six;
                font-size: 34px;
                margin: 0 0 20px 100px;
                font-weight: 900;
                line-height: 196.19%;
            }

            .pokemons__text {
                line-height: 26px;
                font-size: 20px;
                margin: 0 0 70px 100px;
                font-weight: 400;
            }

            .all__pokemons {
                overflow-x: hidden;
                width: 1470px;
                margin: 0 10%;

                .all__pokemons__show {
                    display: grid;
                    grid-template-columns: repeat(4, 300px);
                    grid-template-rows: repeat(2, 400px);
                    grid-gap: 30px;
                    margin-bottom: 30px;

                    .pokemon__card {
                        border: 1px solid $color__three;
                        border-radius: 5px;
                        padding: 40px 40px 0 40px;
                        background-color: $color__one;
                        box-shadow: 5px 5px 20px 0px rgb(211, 193, 163);

                        .pokemon__image {
                            width: 210px;
                            height: 200px;
                            margin-bottom: 30px;
                        }

                        .pokemon__name {
                            margin-bottom: 20px;
                        }

                        .pokemon__line {
                            width: 230px;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 30px;

                            .pokemon__line__description {
                                .pokemon__price {
                                    margin-bottom: 5px;
                                }

                                .pokemon__stat {}
                            }

                            .pokemon__buy {
                                .image__basket {
                                    width: 35px;
                                }
                                .image__basket:hover {
                                    width: 40px;
                                    cursor: pointer;
                                }
                            }
                        }

                    }
                }

                .pokemon__show__btn {
                    width: 230px;
                    height: 40px;
                    background-color: $color__two;
                    border-radius: 5px;
                    cursor: pointer;
                    text-align: center;
                    font-size: 16px;
                    color: $color__one;
                    font-weight: 500;
                    margin: 20px 0 0 530px;
                }

                .pokemon__show__btn:hover {
                    background-color: $color__three;
                    transform: scale(1.05);
                }
            }
        }

        .about_shop {
            color: $color__six;
            margin: 250px 0 200px;

            .about_shop__title {
                font-weight: 900;
                font-size: 28px;
                line-height: 196.19%;
                text-align: center;
            }

            .about_shop__description {
                width: 1370px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;

                .about_shop__count {
                    font-weight: 900;
                    font-size: 50px;
                    line-height: 196.19%;
                }

                .about_shop__subtitle {
                    margin-left: -20px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 196.19%;
                }
            }

        }

        .delivery {
            color: $color__six;

            .delivery__title {
                font-weight: 900;
                font-size: 28px;
                line-height: 196.19%;
                text-align: center;
            }

            .delivery__line {
                width: 50px;
                border: 1px solid $color__seven;
                margin: 0 auto 50px;
            }

            .delivery__sbtitle {
                width: 1170px;
                font-weight: 400;
                font-size: 16px;
                line-height: 196.19%;
                display: flex;
                align-items: center;
                text-align: center;
                margin: 0 auto 200px;
            }
        }

        .questions {
            width: 1100px;
            margin: 0 auto 150px;

            .questions__title {
                font-weight: 900;
                font-size: 28px;
                line-height: 196.19%;
                margin-bottom: 50px;
            }

            .questions__block {
                position: relative;
                width: 1010px;
                border: 2px solid $color__five;
                border-radius: 5px;
                margin: 30px;

                .questions__block__title {
                    width: 1006px;
                    height: 70px;
                    border-width: 0 0 2px 0;
                    border-style: solid;
                    border-color: $color__five;
                    background-color: rgba(255, 255, 255, 0.35);

                    cursor: pointer;

                    .title {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 196.19%;


                        margin-left: 15px;
                        padding: 10px 40px 10px;

                    }
                }

                .questions__block__title::before,
                .questions__block__title::after {
                    content: ' ';
                    width: 16px;
                    height: 3px;
                    background-color: $color__five;
                    position: absolute;
                    top: 35px;
                    margin: 0 15px 0;
                }

                .questions__block__title::before {
                    left: 0px;
                    transform: rotate(35deg);
                }

                .questions__block__title::after {
                    left: 12px;
                    transform: rotate(-35deg);
                }

                .answer {
                    width: 1006px;
                    height: 130px;
                    background-color: rgba(255, 255, 255, 0.5);
                    display: none;

                    .text {
                        font-size: 18px;
                        line-height: 196.19%;
                        padding: 10px;
                    }
                }

                .questions__block__title.active::before {
                    background-color: $color__seven;
                    transform: rotate(-35deg);
                }

                .questions__block__title.active::after {
                    background-color: $color__seven;
                    transform: rotate(35deg);
                }
            }
        }

        .social_network {
            color: $color__six;

            .social_network__title {
                font-weight: 900;
                font-size: 28px;
                line-height: 196.19%;
                text-align: center;
                margin-bottom: 40px;
            }

            .social_network__images {
                width: 480px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 auto;

            }
        }
    }

    footer {
        width: 1600px;
        height: 200px;
        background-color: $color__five;

        .footer {
            width: 1270px;
            margin: 100px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $color__one;

            .footer__license {
                .footer__license__logo {
                    width: 150px;
                    margin: 0 0 -30px 17px;
                }
            }

            .footer__contact_information {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;

                .information {
                    width: 250px;

                    .information__text {
                        margin-bottom: 20px
                    }

                    .information__phone {
                        font-weight: 500;
                    }

                }

                .information__image {
                    .image {
                        width: 150px;
                    }
                }

            }

        }
    }

}